@import "tailwindcss";

@theme {
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --color-primary: #008be1;
}


.mantine-InputWrapper-label {
  margin-bottom: 5px;
}

.mantine-Input-input:disabled {
  color: black !important;
}

@font-face {
  font-family: poppins-regular;
  src: url('/public/fonts/poppins.regular.ttf');
}

.poppins-regular {
  font-family: poppins-regular;
  letter-spacing: 0.5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.active {
  color: black;

  .side-icon {
    color: #228be6;
  }
}